body {
  margin: 0;
  text-align: center;
  font-family: Arial, cursive;
}

h1 {
  margin-top: 50px;
  margin-bottom: 0;
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 7rem;
  letter-spacing: 8px;
}

h2 {
  font-size: 2.5rem;
  position: relative;
  bottom: 30px;
  color: #66BFBF;
  font-weight: normal;
  margin-bottom: 0;
}

h3 {
  font-size: 20px;
  color: #11999E;
  margin-left: 200px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  color: #40514E;
  font-size: 22px;
  line-height: 2;
  width: 45%;
  margin: 40px auto 60px;
}

.footer-link {
  font-size: 20px;
  position: relative;
  padding: 20px;
  top: 50px;
  color: #11999E;
  font-weight: bold;
}

.subtitle {
  font-size: 2.5rem;
  margin: 0;
  padding-top: 50px;
  color: #66BFBF;
  font-weight: normal;
}

hr {
  border-style: none;
  border-top: 5px dotted #EAF6F6;
  border-width: 5px;
  width: 5%;
  margin: 100px auto;
}

.profile-picture {
  border-radius: 50%;
  padding: 40px;
}

.skill-row {
  width: 50%;
  margin: 50px auto 100px auto;
  text-align: left;
}

.teaching-image {
  border-radius: 20%;
  width: 25%;
  float: right;
  margin: 30px;
}

.skill-description {
  color: #40514E;
  margin-top: 0;
}

.skills-image {
  border-radius: 20%;
  width: 25%;
  float: left;
  margin: 30px;
}

.mountain {
  position: relative;
  padding-top: 0;
  height: 63%;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
  height: 830px;
  width: 100%;
}

.middle-container {

}

.contact-messge {
  width: 40%;
  margin: 40px auto 60px;
}

.bottom-container {
  background-color: #66BFBF;
  height: 10rem;
  margin-bottom: 0;
}

.signature {
  font-size: 15px;
  position: relative;
  top: 4rem;
  color: white;
  margin-bottom: 0;
}

.bottom-cloud {
  position: absolute;
  left: 15%;
}

.top-cloud {
  position: absolute;
  right: 15%;
  top: 6%;
}

.second-skill {
  color: #11999E;
}

.btn {
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Arial;
  color: #ebf5f5;
  font-size: 22px;
  background: #11999E;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: relative;
  bottom: 5px;
  margin: 10px;

}
